
.login-wrapper {
  text-align: left;
}

.body-main {
  display:flex;
}

.body-left {
  flex:1;
  color:black;
  border-color:gray;
  border-radius:15px;
  padding:2px;
  float:left;
  width:18%;
}
.body-right {
  flex:3;
  border-left: 1px solid rgb(216, 210, 210);
  border-color:gray;
  margin: 5px;
  padding:2px;
  width:80%;
  float:right;
  background:whitesmoke;
}
.main-head {
  background: rgb(103, 103, 167);
  display:flex;
  border-radius:10px;
}
.search-bar {
  padding:5px;
  flex:1;
}
.search-bar input[type=text] {
  padding: 6px;
  border: none;
  margin: 10px;
  font-size: 20px;
  width:60%;
  border-radius:5px
}
.title-div {
  flex:2;
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.user-quickfunc {
  flex:1;
  display:flex;
  float:right
}
.body-right Input[type=text] {
  padding: 1px;
  border: none;
  width: 100%;
  font-size: 15px;
}
.note-area {
  min-height: 200px;
  height: auto;
}
.note-entry {
display: block;
block-size:30px;
text-decoration: none;
font: 13px verdana;
color: black;
border-bottom: 1px solid lightgray;
background:ghostwhite;
}
.note-entry:hover {
  background-color: black;
  color: white;
}
.head-btn {
  display:inline-block;
  background-color: #c47b65;
  border: none;
  color: white;
  text-align: center;
  width:150px;
  height:50px;
  margin: 10px 5px;
  opacity: 1;
  transition: 0.3s;
  border-radius:5px;
  margin-right: 0;
}
.head-btn:hover {opacity: 0.6}

.form-title {
  display: inline-block;
}
#fl {
  float:left;
  width:1000px;
  padding: 5px;
  margin: 5px;
}
#fl input[type=text] {
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  font-size: 18px;
  font-weight: bold;
}
#fr {
  float: right;
  padding: 10px;
}
.oth-btn {
  display:inline-block;
  background-color: #3e6ed4;
  border: none;
  color: white;
  text-align: center;
  font-size: 10px bold;
  width:80px;
  height:30px;
  border-radius:5px;
}
input:focus, textarea:focus, select:focus{
  outline: none;
}
.mce-container {
  border: 0px !important;
}