{% extends "template.html" %}
{% block content %}
   <div class="main-head">
      <div class="search-bar">
         <input type="text" placeholder="Search..">
      </div>
      <div class="title-div">
         <h2>Pynotes App...Do notes !!</h2>
      </div>
      <div class="user-quickfunc">
         <a href="{{ url_for('main', callfrom='new') }}"><button class="head-btn"><i class="fa fa-plus"></i> Create New </button></a>
         <a href="{{ url_for('log_out') }}"><button class="head-btn"><i class="fa fa-sign-out"></i> Log Out </button></a>
      </div>
   </div>
   <div class=body-main>
      <div class="body-left">
         {% for p in notes %}
            <a href="{{ url_for('display_entry', note_id=p.note_id) }}" class="note-entry">
            <div> 
               {{p.title}}
            </div>   
            </a>
         {% endfor %}
      </div>
      <div class="body-right">
         <div class="form-main">
            <form action="{{ url_for('notes', note_id=note_id) }}"  method="post">
               <div class="form-title"> 
                  <div id="fl">
                     <input placeholder="Enter Title" name="title" type="text" value="{{ title }}"> 
                  </div>
                  <div id="fr">
                     {% if note_id != None %}
                     <input class="oth-btn" id="update" name='savedata' type="submit" value="Update">
                     <input class="oth-btn" id="delete" name='savedata' type="submit" value="Delete">
                     {% else %}
                     <input class="oth-btn" name='savedata' type="submit" value="Save">   
                     {% endif %}
                  </div>
               </div>
               <div>
                     {% for message in get_flashed_messages() %}
                     {{ message }}
                     {% endfor %}
                     <textarea id="detail" class= "note-area" name="detail" type="text" placeholder="Detail Notes">{{ detail }}  </textarea>
               </div>
            </form>
         </div>
      </div>
   </div >

{% endblock %}
